# Jupyter files
.ipynb_checkpoints

# Run files
nohup.out

# VS code files
.vscode
launch.json

# Dev docker files
.devcontainer

# Models
models/

# Cache files
__pycache__
.pytest_cache

# Run files
wandb/